/*Reset page defaults*/
html, body {
    margin: 0;
    padding: 0;
}

/*Define nav background and margin*/
nav {
    margin: 0;
}

/*Define the display of the logo bar and justify all content, as well as applying some padding*/
.logobar {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background-color: white;
}


/*For all boxes in navbar justify to center and remove stylization, change background color to gray*/
.navbar {
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #333333;
}

/*Set the lists margins to 0*/
ul.navbar {
    margin: 0;
}

/*float list items to the left*/
.navbar li {

}

/*This is formatting for the contents of each block*/
.navbar li a {
    width: 5em;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 5em;
    text-decoration: none;
}

/*Assigning hover characteristics to each nav block*/
.navbar li a:hover {
    color: black;
    background-color: lightgray;
}

/*This defines the color and size adjustments for the main body, overrides old resets*/
body {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    font-family: 'Nunito', sans-serif;
}

.pageHeader {
    vertical-align: top;
    width: 100%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
}

.contactInfoContainer {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.infoBox {
    padding: 15px 32px;
}

#cart_table {
    margin: auto;
    text-align: center;
    width: 50%;
}

table {
    margin: auto;
    text-align: center;
    padding-bottom: 3em;
    font-size: 1.25vw;
}

tr {
    width: 10em;
    height: 3em;
}

th {
    width: 10em;
    height: 3em;
}

input[type="button"], [type="submit"] {
    width: 10em;
    height: 4em;
    margin-top: 2em;
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    filter: drop-shadow(.2em .2em .2em #5a5a5a);
    overflow: hidden;
}

input.delete {
    width: 5em;
    height: 2em;
    margin: 0;
    background-color: orangered;
}

input.clearAll {
    background-color: orangered;
}

.display-bottomleft {
    position: relative;
    left: 0;
    bottom: 0
}

.padding-large {
    padding: 0.75em 1.5em;
}

/*This is the foot color set*/
footer {
    background-color: #333333;
    font-family: 'Nunito', sans-serif;
    font-size: .75vw;
    color: white;
}
