/*Reset page defaults*/
html, body {
    margin: 0;
    padding: 0;
}

/*Define nav background and margin*/
nav {
    margin: 0;
}

/*Define the display of the logo bar and justify all content, as well as applying some padding*/
.logobar {
    display: flex;
    justify-content: flex-start;
	overflow: hidden;
    background-color: white;
}


/*For all boxes in navbar justify to center and remove stylization, change background color to gray*/
.navbar {
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #333333;
}

/*Set the lists margins to 0*/
ul.navbar {
    margin: 0;
}

/*float list items to the left*/
.navbar li {

}

/*This is formatting for the contents of each block*/
.navbar li a {
    width: 5em;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 5em;
    text-decoration: none;
}

/*Assigning hover characteristics to each nav block*/
.navbar li a:hover {
    color: black;
    background-color: lightgray;
}

/*This defines the color and size adjustments for the main body, overrides old resets*/
body {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
}

/*This defines the color and size adjustments for the main body, overrides old resets*/
body {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
}

.display-bottomleft {
    position: relative;
    left: 0;
    bottom: 0
}

.padding-large {
    padding: 0.75em 1.5em;
}

/*This is the formatting for the text division beside the main image*/
.imageText {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
}

/*This is the formatting the div containing the image*/
.imageHolder {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    padding: 1em;
    margin-right: 4em;
    filter: drop-shadow(.6em .45em .2em #5a5a5a);
}

/*This is the container that holds the divs for the imageText and imageHolder*/
.imageContainer {
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2.45em;
}

.googleMapsContainer {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    vertical-align: middle;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25vw;
    text-align: center;
}

/*This is the foot color set*/
footer {
    background-color: #333333;
    font-family: 'Nunito', sans-serif;
    font-size: .75vw;
    color: white;
}
